---
layout: base
---
<link rel="stylesheet" href="/css/tex-style.css">

<article>
  <div class="container">
    {% for post in paginator.posts %}
    {% assign author = site.data.authors[post.authorid] %}
    {% assign authorid = post.authorid %}
    <section class="post_summary">
      <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
      <div class="meta">
        <address>
            By {% include gen_author_link.html %}
        </address> &mdash;
        <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%b %d, %Y" }}">{{ post.date | date: "%b %d, %Y" }}</time>
        <!--&mdash; {% include read_time_estimate.html content=post.content %}-->
        {% if post.pdf %}&mdash; post as <a href={{ post.pdf }}>[PDF]</a>{% endif %}
      </div>
      <p>
      {{ post.excerpt }}
    <br>
      <a href="{{ post.url }}">Full post →</a>

      {% if false %} <!-- apparently no sane way to comment things and prevent them from appearing in output? -->
       <p>
       {% if post.content contains '<!--more-->' %}
         {{ post.content | split:'<!--more-->' | first }}
       {% else %}
         {{ post.content | truncatewords:100 }}
       {% endif %}
       </p>
       {% endif %}
      <hr>
    </section>
    {% endfor %}
    <section class='pagination'>
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="button outline older">‹ Older</a>
      {% endif %}
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" class="button outline newer">Newer ›</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}" class="button outline newer">Newer ›</a>
      {% endif %}
      {% endif %}
    </section>
  </div>
</article>
