<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} &mdash; {{ site.info.title }}{% else %}{{ site.info.title }} &mdash; {{ site.info.subtitle }}{% endif %}</title>
  <!--[if lt IE 9]><script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'></script><![endif]-->
  {% if site.info.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.info.google_font }}" rel="stylesheet" type="text/css">{% endif %}
  <link rel="stylesheet" href="/css/main.css">
  {% include scripts.html %}
  <link rel="shortcut icon" href="/favicon.ico?v2" type="image/x-icon" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.info.title }}" href="/atom.xml" />
  <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.info.title }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.info.gplus }}">{% endif %}
  {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.info.title }}{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  {% if page.cover_image %}<meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>{% endif %}
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip}}"/>
  <meta name="description" content="{{ page.excerpt | strip_html | strip}}"/>
  {% endif %}
  <meta property="og:site_name" content="{{ site.info.title }}">
  {% include mathjax.js %}
</head>
<body>
  {% include mathjax_macros.html %}

  <header class="site-header">
    <nav>
      <!--<a class="brand" href="/">-->
        <!--<img src="/images/{{ site.info.logo }}" alt="Inc">-->
      <!--</a>-->
        <div style="display: inline-block; width: 100px;"></div>
        {% for page in site.header_links %}
          {% if page.title %}
          <a href="{{ page.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>
  </header>

<div class="blog-cover" style="background-image:url(/images/{{ site.info.cover_image }});">
  <div class='cover_overlay'>
    <div class="content">
      <h1>{{ site.info.title }}</h1>
      {% if site.info.subtitle %}<h3>{{ site.info.subtitle }}</h3>{% endif %}
    </div>
  </div>
</div>

  {{ content }}

  <footer class="site-footer">
    <div class="container">
      LWE {{ site.time | date: "%Y" }}
      <nav>
        {% for page in site.header_links %}
          {% if page.title %}
          &middot;
          <a href="{{ page.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>

      <nav class="social">
        {% include social_links.html %}
      </nav>
      <div>
          Source on <a
              href="https://github.com/lwe-blog/lwe-blog.github.io">GitHub</a>.
  </div>
    </div>
  </footer>

  {% include footer_scripts.html %}

</body>
</html>
