---
layout: base
---
<link rel="stylesheet" href="/css/tex-style.css">

{% assign author = site.data.authors[page.authorid] %}
{% assign authorid = page.authorid %}
<article {% if page.container_class %}class='{{ page.container_class }}'{% endif %}>

  <div class="container">
    <header>
      <h1 class="title">{{ page.title }}</h1>
      {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
      <div class="meta">
        By
        <address>
            {% include gen_author_link.html %}
        </address> &mdash;
        <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%b %d, %Y" }}">{{ page.date | date: "%b %d, %Y" }}</time>
        <!--&mdash; {% include read_time_estimate.html content=content %}-->
        {% if page.pdf %}&mdash; post as <a href={{ page.pdf }}>[PDF]</a>{% endif %}
      </div>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <address>
        {% if author.image %}<img src="/images/{{ page.author.image }}">{% endif %}
        {% if author.gravatar %}
        <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}">
        {% endif %}
        <p>Written by <strong>
            {% include gen_author_link.html %}
        </strong><br>
          <span class="muted">{{ author.bio }}</span>
        </p>
      </address>
      {% if page.next.url %}
      {% assign post = page.next %}
      <section class="post_summary">
        <h3 class="title">Next: <a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h3>
        <hr>
      </section>
      {% endif %}
      {% if page.previous.url %}
      {% assign post = page.previous %}
      <section class="post_summary">
        <h3 class="title">Previous: <a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h3>
        <hr>
      </section>
      {% endif %}
      {% if site.info.disqus.shortname %}
      <section>
        {% include disqus.html %}
      </section>
      {% endif %}
    </footer>
  </div>
</article>
